.texto{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 200px;
    
    
}

.texto p{
    text-align: justify;
    width: 450px;
    height: 100%;
    
}
.texto h1{
    font-size: 4em;
}

