.texto{
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   width: 1500px;
   margin: 0 auto;
}

.texto p{
    text-align: justify;
    max-width:  450px;
    height: 100%;
    
}
.texto h1{
    text-align: right;
    font-size: 4em;
    max-width: 400px;
}
.texto h2{
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.texto img{
    width: 400px;
    
}

.backte{
    background-color: #f7f7f7;
}