.card {

    height: 500px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: auto;
    align-items: center;
    background-color: #1b1a1a;
}

.card ul {

    text-align: justify;
    max-width: 450px;
    


}

.card li {
    text-align: justify;
    list-style: disc;
}
.card li::marker{
    font-size: 3em;
    
}
.card h2{
    margin-bottom: 20px;
    margin-top: 20px;
}