.navbar{
    display: flex;
    background-color: #eaeaea;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: bold;
    align-items: center;
    
}

.navlink{
    margin: 0px 10px;

}

.navbar a{
    text-decoration: none;
    color: black;
}

