.footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #2b2c32;
    text-decoration: none;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 100px;
    
    height: 200px;
    bottom: 0;
   
}



